/* NavBar */

#navigation {
  display: inline-block;
}

.note {
  color: #3a9fe5;
  font-style: bold;
  text-decoration: underline;
  text-decoration-color: #232425;
}

/* About */

.user-img {
  width: 70%;
  height: auto;
  margin: 4em 0 2em 0;
  border-radius: 50%;
}

.bold-under-white {
  color: #3a9fe5;
  font-style: bold;
  text-decoration: underline;
  text-decoration-color: #fff;
}

/* Skills */

.skills {
  padding: 1em;
}

.skillset {
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  background-color: #3a9fe5;
}

.skillset-light {
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  background-color: #e7e9eb;
}

.skillset-off {
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  color: #232425;
  background-color: #232425;
}

/* Pluralsight GCP */

.img-size {
  width: 90%;
  height: auto;
}

.link-colour {
  color: #3a9fe5;
  text-decoration: underline;
  text-decoration-color: #e7e9eb;
  padding: 1em;
}

/* Contact Form */

.under-blue {
  text-decoration: underline;
  text-decoration-color: #3a9fe5;
  padding: 0.5em 1em;
}

.contact {
  margin: 2em 16em;
  width: 60%;
  background-color: #f0f0f0;
  color: #232425;
  padding: 1em;
}

.contactForm {
  text-align: justify;
}

#fullName {
  width: 40%;
}

#emailAddress {
  width: 40%;
}

#subject {
  width: 60%;
}

#message {
  width: 80%;
}

/* Social Media Icons */

.white-society {
  color: #e7e9eb;
}

/* Footer */

.footer-style {
  color: #3a9fe5;
  text-align: center;
  margin: 4em 0 2em 0;
}

/* Mobile Responsive */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .contact {
    margin: 2em 5em;
    width: 80%;
  }

  #fullName {
    width: 80%;
  }
  
  #emailAddress {
    width: 80%;
  }
  
  #subject {
    width: 100%;
  }
  
  #message {
    width: 100%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .contact {
    margin: 2em 6.2em;
    width: 80%;
  }

  #fullName {
    width: 80%;
  }
  
  #emailAddress {
    width: 80%;
  }
  
  #subject {
    width: 100%;
  }
  
  #message {
    width: 100%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .contact {
    margin: 2em 3.4em;
    width: 80%;
  }

  #fullName {
    width: 60%;
  }
  
  #emailAddress {
    width: 60%;
  }
  
  #subject {
    width: 80%;
  }
  
  #message {
    width: 100%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .contact {
    margin: 2em;
    width: 80%;
  }

  #fullName {
    width: 100%;
  }
  
  #emailAddress {
    width: 100%;
  }
  
  #subject {
    width: 100%;
  }
  
  #message {
    width: 100%;
  }
  
}