/* NavBar */

#navigation {
  display: inline-block;
}

.note {
  color: #3a9fe5;
  font-style: bold;
  text-decoration: underline;
  text-decoration-color: #232425;
}

/* About */

.user-img {
  width: 70%;
  height: auto;
  margin: 4em 0 2em 0;
  border-radius: 50%;
}

.bold-under-white {
  color: #3a9fe5;
  font-style: bold;
  text-decoration: underline;
  text-decoration-color: #fff;
}

/* Skills */

.skills {
  padding: 1em;
}

.skillset {
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  background-color: #3a9fe5;
}

.skillset-light {
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  background-color: #e7e9eb;
}

.skillset-off {
  padding: 1em;
  margin: 0.5em;
  border-radius: 10%;
  color: #232425;
  background-color: #232425;
}

/* Pluralsight GCP */

.img-size {
  width: 90%;
  height: auto;
}

.link-colour {
  color: #3a9fe5;
  text-decoration: underline;
  text-decoration-color: #e7e9eb;
  padding: 1em;
}

/* Contact Form */

.under-blue {
  text-decoration: underline;
  text-decoration-color: #3a9fe5;
  padding: 0.5em 1em;
}

.contact {
  margin: 2em 0;
  width: 60%;
  background-color: #f0f0f0;
  color: #232425;
  padding: 1em;
}

.contactForm {
  text-align: justify;
}

#fullName {
  width: 40%;
}

#emailAddress {
  width: 40%;
}

#subject {
  width: 60%;
}

#message {
  width: 80%;
}

/* Social Media Icons */

.white-society {
  color: #e7e9eb;
}

/* Footer */

.footer-style {
  color: #3a9fe5;
  text-align: center;
  margin: 4em 0 2em 0;
}